$primary: #0085c8;
$text-color: rgb(51, 51, 51);
$primary-color-hover:#009ceb;
$btn-select:rgb(68, 68, 68);


$bg-color : black;
$facebook : #4267B2;
$twitter : #1DA1F2;
$linked-in : #2867B2;


$primary-text-color : black;
$primary-text-light-color: #333;
$secondary-text-color : #999;




// $colors: (primary: #2196f3,
//     warning: #ff5722,
//     danger: #d62c1a,
//     success: #4caf50,
//     teal: #009688,
//     dark: #34495e,
//     pumpkin: #e91e63,
//     cloud: #795548);

// $colors_hover: (primary: #1565c0,
//     warning: #ef6c00,
//     danger: #c62828,
//     success: #2e7d32,
//     teal: #00695c,
//     dark: #263545,
//     pumpkin: #ad1457,
//     cloud: #604439);